/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
    --color-primary: #000000;
    --color-secondary: #fe7600;
    --color-grey:#161616;
    --font-dark-grey:#4d4d4d;
}
.logo-default, .logo-dark {
    max-width: 80px;
}

.logo-dark {
    padding: 5px 0;
    margin: 20px 0;
}

.is-expanded-menu .sticky-header #header-wrap {
    background: #000000;
}

.menu-item:hover > .menu-link {
    color: #fff;
}

.is-expanded-menu .menu-link {
    --cnvs-primary-menu-padding-y: calc(calc(var(--cnvs-sticky-header-height) - 40px) * 0.5);
    --cnvs-primary-menu-padding-x: 15px;
    transition: margin 0.4s ease, padding 0.4s ease;
  }


.is-expanded-menu .menu-link {
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */
}

.header-wrap-clone {
    height: 100px;
}

#header-wrap #logo img {
    height: auto;
}
#header-wrap {
    background-color: var(--color-primary);
}

#footer {
    border: 0;
}

.menu-link {
	color: #fff;
}

.menu-link::after {
    content: "";
    display: block;
    width: 0;
    height: 10px;
    border-bottom: solid 1px var(--color-secondary);
}

.menu-link:hover::after {
    width: 100%;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.menu-link {
    font-weight: 400;
}

.title-section {
    font-size: 70px;
}

.title-section-2 {
    font-size: 50px;
}

.title-block {
    font-size: 30px;
}

.title-f18 {
    font-size: 18px;
}

.title-f60 {
    font-size: 60px;
}

.title-f90 {
    line-height: 1;
    font-size: 96px;
}

.title-f50 {
    font-size: 50px;
}


.font-title {
    font-weight: 400;
    font-family: 'voguer';
}

.title-tagline {
    line-height: normal;
    font-weight: 400;
    font-family: 'voguer';
    font-size:5em;
}

.title {
    letter-spacing: 2px;
    font-weight: 300;
}

.font-title-footer h4 {
    font-size: 30px;
    font-weight: 300 !important;
    text-transform: none;
}

.btn-1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 20px 40px;
    letter-spacing: 5px;
}


.btn-1-white {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 20px 30px;
    letter-spacing: 2px;
    width: 100px;
    margin-top: 20px;
    border: 1px solid #fff;
    white-space: normal; /* Mengizinkan teks membungkus ke baris baru */
            word-break: break-word; /* Memastikan kata panjang dapat dipotong dan dibungkus */
}


.logo-city-area {
 
    max-width: 350px;
}

.button-border-white {
    background-color: transparent;
}

.button-border-white:hover {
    color: var(--color-grey);
    background-color:#fff;
    font-weight: 500;
}

.button.button-border:not(.button-fill):hover {
    background: var(--color-grey);
    color: #fff;
}

.text-dark {
    color: var(--color-grey);
}

.section {
    margin:0;
}

body .dark {
    background-color: #161616;
}

.header-row {
    justify-content: center;
}

.heading-block h2 {
    font-weight: 300;
    margin-bottom: 0;
}

.is-expanded-menu .mega-menu-content {
    border-top: 1px solid var(--font-dark-grey);
    background: #000000;
}

.mega-menu-style-2 {
    border: 0;
    width: 100% !important;
}

.bg-dark-0 {
    background-color: #000000;
}

.bg-dark-opacity {
    background-color: #000000a0;
}

.bg-dark-1 {
    background-color: #161616;
}

.bg-dark-2 {
    background-color: #202021;
}

.bg-white {
    background-color: #fff;
}

.bg-light-grey {
    background-color: #f2f2f2;
}

.content-white p {
    color:var(--color-primary);
    font-size: 20px;
    font-weight: 300;
}

.title-content {
 font-family: 'voguer';
 color: #202021;
 font-weight: 300;
 font-size:35px;
}

@font-face {
    font-family: 'voguer';
    src: url('../font/voguer/classyvogueregular-webfont.woff') format('woff'),

}

.mm-font {
    font-family: 'voguer';
    font-weight: 300;
}

/*---position---*/

.left-30 {
    position: relative !important;
    right:10% !important;
}

/*--slider---*/
.stone-1 {
    right: -100px;
    bottom: 0;
    position: absolute;
}

.stone-2 {
    left: 0;
    top: 0;
    position: absolute;
}

.dec-slide {
    font-style: italic;
    font-weight: 300;
    
}

.slider-caption h2, .slider-caption .h2 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 6em;
}

.slider-caption span {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 30px;
}

.slider-caption p {
    font-size: 14px;
}
.relative {
    position: relative;
}

#content {
    background-color: transparent;
}

.title-section {
    font-size: 70px !important;
    font-family: 'voguer';
    font-weight: 300;
}


.title-subsection {
    font-size: 50px;
}

.content-wrap {
padding: 0;
margin: 0;
}

.mr-0  {
    margin: 0;
}

.pd-0 {
    padding: 0;
}

/*---stone collection---*/

.fbox-title h3 {
    font-family: 'voguer';
    font-size: 60px;
    font-weight: 300 !important;
    margin-bottom: 30px;
    color: var(--font-dark-grey);
}

.fbox-title h3:hover {
color: #fff;
cursor: default;
}

.fbox-title {
width: 100%;

}

.fbox-hover {
    max-width: 200px;
}

.img-stone{
display: none;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.feature-box:hover .img-stone {
cursor: pointer;
  display: block;
}


.img-stone-right{
    display: none;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
    }
    
    .feature-box:hover .img-stone-right {
    cursor: pointer;
      display: block;
}

.vid-area {
  
padding-left: 40px;
}

.banner-vid {
    height: 650px;
}

.box-card h3 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
}

.box-card p {
    font-size: 20px;
}

.bg-overlay-content {
    padding:55px;
    justify-content: start;
}

.slide-city h4 {
    font-size:30px;
}

.slide-city {
    text-align: left !important;
}

.flex-control-paging {
    display: none;
}

.card-achive {
    padding: 25px 60px;
}

.border-2 {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}

.title-achive {
    padding: 0 40px;
    font-size: 50px;
}



.title-border::before, .title-border::after {
    background: #fff;
}

.carousel-bottom .owl-dots {
    display: none !important;
}

.carousel-bottom .owl-nav {
    display: none !important;
}

#footer {
    background-color: var(--color-grey);
}

.footer-area {
    padding: 100px 0;
}

/* .card-address {
    padding-right: 40px;
} */

.address-footer p {
    font-weight: 300;
}

.address-footer h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.widget li {
    font-weight: 300;
    color: #fff;
}

.dark#footer .footer-widgets-wrap a, .dark #footer .footer-widgets-wrap a  {
    color: #fff !important;
}

.dark #footer .footer-widgets-wrap a:hover {
    color: var(--color-secondary) !important;
}

.footer-widgets-wrap h3 {
    line-height: 50px;
}
/* 
.widget h4 {
    font-weight: 300;
    font-size: 30px;
    text-transform: capitalize;
} */

.h-400 {
    min-height: 80px;
    display: flex;
    align-items: end;
}

.card-slide-city {
    padding:0 50px ;
}

.bg-overlay-vid {
    position: absolute;
    top:0;
    left: 45%;
    transform: translateX(-50%);
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mm-vid {
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 200px;
    font-size: 90px;
    
}
.btn-mm-vid i {
    color: #fff;
}

.city-page {
    top:0;
    position: absolute;
}

/*---about---*/

 .display-4 {
    font-size: 5rem;
}

.display-3 {
    font-size: 2em;
    font-weight: 300 !important;
    text-transform: capitalize !important;
}

/* .title-page h2:nth-of-type(2) {
    padding-left: 90px; 
} */

.card-question {
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
}

.card-question p {
    text-align: center;
    color: var(--color-grey);
    font-size: 16px;
}

.dropdown-menu {
    background-color: #cccccc;
}

.dropdown-item {
    color: #161616;
}

.button span {
    min-width: 200px;
}

.button-rounded  {
    border-radius: 10px;
   margin-bottom: 20px;
}

.btn-branch {
    text-align: left;
    padding:10px 20px;
}

.logo-center {
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}

/*--timeline--*/

.year-center span {
    font-family: 'inter';
    margin-bottom: 0;
    font-size:90px ;
    font-weight: 300;
    font-style: italic;
    color: #cccccc !important;
}

.year-center h2 {
    text-align: right;
    font-size: 150px;
    font-weight: 300;
    color: #cccccc;
    line-height: 130px;
}

.line-vl-top {
    border-left: 1px solid #cccccc;
    height: 200px;
    left:50%;
    top:0;
    margin:auto;
    width:1px;
  }

  .line-vl-bottom {
    border-left: 1px solid #cccccc;
    height: 200px;
    left:50%;
    margin:auto;
    width:1px;
  }

  .year-center {
    position: relative;
    z-index: 2;
    text-align: center;
  }

/* .year-center::after {
    position: absolute;
    text-align: center;
    content: "";
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    height: 100px !important;
    border:solid 1px Red;
  
}

.year-center::before {
    position: absolute;
    text-align: center;
    content: "";
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    height: 100px !important;
    border:solid 1px Red;
  
} */

.img-story {
    position: absolute;
    top: -60px;
    left: 248px;
    z-index: 1;
}

.text-story {
    position: absolute;
    bottom: -150px;
    right: 222px;
    z-index: 1;
    width: 30%;
}

.text-story p {
    font-weight: 300;
}


/*---card team---*/

.block-card-9 .grid-inner .btn-hover {
    opacity: 0;
    display: block;
    transition: opacity .3s ease, transform .3s .1s ease;
    margin-top: 15px;
    position: absolute;
    transform: translateY(0);
}
.block-card-9 .grid-inner:hover .btn-hover {
    opacity: 1;
    transform: translateY(-5px);
}

.block-card-9 .grid-inner .grid-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.block-card-9 .grid-inner:hover .grid-image {
    -webkit-animation: kenburns 20s ease-out both;
    animation: kenburns 20s ease-out both;
}

.block-card-9 .grid-inner .grid-icon,
.block-card-9 .grid-inner .grid-content {
    transition: transform .3s ease;
}

.block-card-9 .grid-inner:hover .grid-content { transform: translateY(-45px); }
.block-card-9 .grid-inner:hover .grid-icon { transform: translateY(-5px); }

@-webkit-keyframes kenburns {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
            transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}
@keyframes kenburns {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, 15px);
            transform: scale(1.25) translate(20px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}

.grid-content h3, .grid-content p  {
    margin-bottom:0;
}

.more-link {
    color: #161616;
    display: inline-block;
    font-family: 'inter';
    font-style: normal;
    text-underline-offset: none;
    text-decoration-thickness: 0;
    font-weight: 600;
}

.more-link:hover {
    color:var(--color-secondary);
}

.entry-content {
    margin-top: 20px;
}

.counter {
    color: #cccccc;
    line-height: 100px;
    font-size: 120px;
}

.border-line {
    padding-top: 35px;
    border-bottom: solid 1px #cccccc !important;
}

.mobile-view {
    display: none;
}

.portfolio-desc {
    text-align: center;
}

.portfolio-desc h4 {
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
}

/* Ensure the container hides overflow when the image zooms */
.portfolio-cover {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

/* Add smooth transition and initial styling for the image */
.portfolio-cover img {
    width: 100%;
    transition: transform 0.5s ease; /* Smooth transition for zoom */
}

/* Zoom-in effect on hover */
.portfolio-cover:hover img {
    transform: scale(1.1); /* Increase image size by 10% */
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.display-1 {
    font-size: 100px;
}

.page-dec {
    text-transform: uppercase;
}

.page-dec-top {
width: 25%;
}

.page-dec-bottom {
    width: 30%;
    }

.grid-filter-wrap {
    justify-content: center;
}

.btn-f-product {
    padding: 4px 40px;
}

.btn-f-product {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.grid-filter-wrap, .grid-filter  {
    border: 0 !important;
    border-right:0;
}
.grid-filter li:first-child a {
    border-radius: 0;
}
.grid-filter li a {
    color: #202021;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 50px;
    
}
.grid-filter li a:hover {
    z-index: 5;
    color: #202021;
    font-weight: 600;
    background: transparent;
    border-bottom: solid 2px var(--color-secondary);
}

.grid-filter li.activeFilter a {
    background: transparent;
    border-bottom: solid 2px var(--color-secondary);
}

.grid-filter li:last-child a {
    border-radius: 0;
}

/* Ensure the portfolio image container fills its space properly */
.mm-product-image {
    width: 100%;
    height: 400px;
    position: relative; 
    overflow: hidden; 
    background: rgb(239,239,239);
background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(236,236,236,1) 100%);
}

/* Ensure the image fills the container while staying centered */
.fill-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    transition: transform 0.5s ease; 
}

/* Optional: Zoom-out effect on hover */
.fill-image:hover {
    transform: scale(0.5); 
}

.absolute-filter {
    top:0;
    right: 0;
    position: absolute;
}

.line {
    z-index: 1;
    bottom: -7px;
    position: absolute;
    border-color: #161616;
}

.line-one {
    clear: both;
    position: relative;
    width: 100%;
    margin: 50px 0;
    border-top:2px solid rgb(23 23 23 / 10%);
}

.page-link {
    color: var(--color-grey);
    border: 0;
    background: transparent;
}

.page-link:hover {
    border-bottom: 2px solid var(--color-secondary);
    color:var(--color-grey);
    background: transparent;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.page-link.active, .active > .page-link {
    border-bottom: 2px solid var(--color-secondary);
    background-color: transparent;
    color: var(--color-grey);
    border-radius: 0;
}

.grid-shuffle {
    text-decoration: underline;
    width: 100px;
    font-size: 14px;
    color: var(--color-grey);
}

.grid-shuffle:hover {
    background: none;
    color: var(--color-secondary);
    }
    
    .grid-filter li.activeFilter a {
      margin: 0;
        color: var(--color-grey);
        position: relative;
        z-index: 10;
    }

.list-group-item {
    padding: 20px 0;
    border-top: solid 1px var(--color-grey);
    border-bottom: solid 1px var(--color-grey);
}

 .list-group-item span {
    text-transform: uppercase;
    color:var(--color-grey);
    padding-left: 20px;
    font-size: 15px;
    letter-spacing: 4px;
 }

.dec-detail {
    padding-top: 50px;
    padding-bottom: 50px;
 }

.dicovery-item {
    padding: 0 40px !important;
}

.dicovery-item h4 {
font-size: 25px;
}

.button.button-dark {
    font-size: 16px;
    padding: 15px;
}

.button-grey {
    background-color: #808080;
}

.button.button-dark:hover {
    background-color: #4d4d4d;
}

.title-detail-product h1 {
    font-size: 60px;
}

/*---form---*/

.form-line {
    padding-bottom: 10px;
    border-bottom: solid 1px #808080;
}

.form-group label {
    color: #808080;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-area {
    padding: 0 20px;
}

.form-check {
    padding: 0 15px;
}

.form-check label {
    font-size: 12px;
}

.form-control {
    font-family: 'inter';
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    color: var(--color-grey);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #808080;
    font-size: 12px;
}

.form-check-input:checked {
    background-color: var(--font-dark-grey);
    border-color: var(--font-dark-grey);
}

.form-check-input {
    background-color: #f2f2f2;
}

.form-check-input:focus {
    border-color: #e0dfdf;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(110 110 110 / 25%);
}

.check-pd {
    padding-right: 30px;
}

/* .form-check-input:checked {
    border: 2px solid var(--font-dark-grey);
    background-color: #f2f2f2;
}

.form-check-input {
    border: solid 1px red;
    background: none;
} */

.form-control:focus {
    color: var(--color-grey);
}
.form-control::placeholder {
    font-family: 'inter';
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #808080;
    font-size: 12px;
    font-weight: 300;
}

.form-control:focus {
    border: 0;
    background-color: #e0dfdf ;
}

.modal-body {
    padding: 0 30px;
}


.modal-header {
    position: absolute;
    top:0;
    right: 0;
    border: 0;
    z-index: 99;
}

.modal-header .btn-close {
color: #202021;
}

[data-bs-theme=dark] .btn-close {
    filter: none;
}

.heading-block::after {
    display: none;
}

.no-radius {
    border-radius: 0;
}

.button-medium  {
    padding: 15px 0;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 300;
}

.page-area {
    margin: auto;
    max-width: 1000px;
}

.left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

.sub-title-bottom {
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: left;
    width: 25%;
  }

  .sub-title-top {
    width: 25%;
    text-align: right;
    position: absolute;
    top: 30px;
    right: 0;
  }

  .fw-large {
    font-weight: 400;
    font-size: 30px;
  }


  .fw-title {
    font-weight: 400;
    font-size: 50px;
  }

.bottom-desc span {
    color: var(--color-grey);
  }

.btn-hide {
    margin: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

.card-project {
    padding: 30px;
  }

.card-project:hover {
    border: solid 1px var(--color-grey);
  }

  .card-project:hover .btn-hide {
    display: block;
    opacity: 1;
}

.project-desc {
    font-size: 25px;
}

.project-title h3 {
    font-size: 90px;
}

.cover-image-full {
    width: 100%; /* Atur lebar div agar sesuai dengan kebutuhan */
    height:550px; /* Atur tinggi div agar sesuai dengan kebutuhan */
    overflow: hidden; /* Pastikan tidak ada elemen yang keluar dari div */
}

.cover-image-full img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gambar akan di-scaling agar menutupi seluruh area tanpa merusak rasio aspeknya */
    object-position: center; /* Posisikan gambar di tengah */
}

.m-other {
    padding-left: 0;
    padding-right: 0;
}

.icon-stacked {
   font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-title h2 {
 color: var(--color-grey) !important;
 font-size: 25px;
 font-weight: 300;
}

.news-title-side h2 {
    font-size: 20px;
    font-weight: 300;
}

.news-title, .news-title-side {
    width: 80%;
}

.entry-meta span {
    color:#808080;
}

.news-desc {
    padding: 0 20px;
}

.entry-image img {
    border-radius: 0;
}

.sidebar {
    padding: 35px;
    border: solid 1px var(--color-grey);
}

.h-text-color:hover, a.h-text-color:hover {
    color: var(--color-grey) !important;
    border: 1px solid var(--color-grey);
    padding: 15px 25px;
}

.h-text-color, a.h-text-color {
    color: var(--color-grey) !important;
    padding: 15px 25px;
    border: 1px solid #f2f2f2;
}

.h-text-color i {
    font-size: 20px;
}

.pre span {
    padding-left: 20px;
}

.nex span {
    padding-right: 20px;
}

.contact-link {
list-style: none;
}

.contact-link a, .contact-desc a {
    color: #f2f2f2;
}

.line-bottom {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 35px;
}

.title-location h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.flex {
    flex:1;
}

.contact-area {
    margin-bottom: 50px;
}

.no-title-city {
    padding-top: 30px;
}

.slide-lg-right {
float: right;
}

.clients-grid > .col a {
    opacity: 1;
}

.float-wa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background: var(--color-primary);
    color: #FFF;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 100;
    line-height:80px;
  }

  .flex-next, .flex-prev {
    background: none;
  }

  .flex-next:hover, .flex-prev:hover {
    align-items: center;
    display: flex;
    background: none;
    border: 1px solid #fff;
  }

/*--tablet--*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets in portrait and landscape */
    .img-story {
        left:0;
    }
    .text-story {
        position: absolute;
        bottom: -220px;
        right: 39px;
        z-index: 1;
        width: 40%;
    }
    .year-center h2 {
        text-align: center; }
  }

  @media only screen and (min-width: 1024px) {
    /* Styles for larger tablets */
  }



/*---mobile--*/

@media (max-width: 767.98px) {

    .slide-lg-right {
        float: none;
        }

    .title-f90 {
        line-height: 1;
        font-size: 4em;
    }

    .title-achive {
        font-size: 45px;
    }

    .stone-area {
        padding-left: 30px;
        padding-bottom: 0 !important;
    }

    .img-stone, .img-stone-right {
        display: none;
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        width: 150px;
    }

    .fbox-title h3 {
        font-size: 30px;
    }

    .logo {
        padding: 20px 0;
    }

    .news-title h2 {
        color: var(--color-grey) !important;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 0;
       }
       
       .news-title {
           width: 100%;
       }
       
       .news-desc {
           padding: 0;
       }
       

    .project-desc p {
        font-size: 18px;
    }

    .card-item {
        margin-bottom: 20px;
    }
    

    .title-page-position {
        padding: 20px 0;
    }

    .sub-title-bottom {
        position: relative;
        bottom: 0;
        left: 0;
        text-align:center;
        width: 100%;
      }
    
      .sub-title-top {
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        right: 0;
      }

    .dicovery-item {
        padding: 0 20px !important;
    }

    .list-group-item span {
        padding-left: 0;
    }

    .display-1 {
        font-size: 3.5em;
    }

    .title-page {
        text-align: center;
    }

    .page-dec-top {
        text-align: center;
        width: 100%;
        }
        
    .page-dec-bottom {
        text-align: center;
            width: 100%;
        }
        
    .absolute-filter {
        top:0;
        right: 0;
        position: relative;
    }

    .grid-filter li a {
        padding: 10px 30px;
    }

    .grid-filter li.activeFilter a {
        background: transparent;
        color: var(--color-secondary);
        border-bottom: 0;
    }

    .mm-product-image {
        height: 250px;
     }

     .portfolio-desc h4 {
        font-size: 20px;
     }
    .mobile-view {
        display: block;
    }

    .year-center h2 {
        text-align: center;
        height: 80px;
        font-size: 80px;
    }

    .text-story {
        text-align: center;
        position: relative;
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .dekstop-view {
        display: none;
    }
    .slider-caption h2, .slider-caption .h2 {
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 4em;
    }
    .stone-1 {
        position: absolute;
        right:-90px;
        top:600px;
    }

    .stone-2 {
        position: absolute;
        top:-100px;
    }

    .banner-vid, .bg-overlay-vid {
        height: auto;
    }

    .btn-mm-vid {
        opacity: 0.5;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

    .vid-area {
        padding-left: 0;
    }
    .bg-overlay-vid {
        position: absolute;
        top: 40%;
        left: 50%;
    }

    .bg-overlay-content {
        padding: 10px;
    }

    .title-section {
        font-size: 45px !important; }

    .card-achive {
        padding: 5px;
    }
    .logo-city-area {
        max-width: 200px;
        padding-bottom: 50px;
    }

    .button-city-area {
        padding: 0 15px;
    }

    .img-story {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .line-vl-top, .line-vl-bottom {
        height: 50px;
    }

    .line-vl-top {
        margin-bottom: 20px;
    }

    .title-tagline {
        font-size: 3.5em;
    }

    .title-page h2:nth-of-type(2) {
        padding-left: 0;
    }
    .vh-sm-100 {
        height: 100vh;
    }
    .card-question {
        margin-top: 30px;
    }
    .display-4 {
        font-size: 4em;
        text-align: center;
    }
 }